/*** New task section ***/
.add-task {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: -15px;
  width: 634px;
  height: 0;
  min-height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &.active {
    height: 242px;
    min-height: 242px;
    bottom: -227px;
  }
  .add-new-task {
    .new-task-category-marker {
      display: inline-block;
      padding: 0 3px;
      i {
        font-size: 20px;
        color: rgb(255,255,255);
      }
      i {
        &.cat-home  {
          color: #FE6D6A !important;
          background: transparent;
        }
      }
      i {
        &.cat-work {
          color: #FFC777 !important;
          background: transparent;
        }
      }
      i {
        &.cat-pc {
          color: #CC94EF !important;
          background: transparent;
        }
      }
      i {
        &.cat-meetings {
          color: #2CE3BD !important;
          background: transparent;
        }
      }
    }
  }
  #addTaskFavourite {
    &.active {
      i {
        &:before {
          content: '\f005';
          color: white;
        }
      }
    }
  }
  .row {
    padding: 35px 20px;
    width: auto;
    position: relative;
  }
  .options {
    button {
      width: auto;
      height: auto;
      i {
        color: rgba(255,255,255,0.6);
        font-size: 20px;
        padding-top: 12px;
      }
    }
  }
}
#newDate {
  &.active {
    i {
      &.error {
        color: white;
      }
    }
  }
  i {
    &.error {
      color: #DE0000;
    }
  }
}
.add-new-task {
  h3 {
    color: rgba(255,255,255,0.6);
    font-size: 30px;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 100;
    outline: none;
    width: 450px;
    max-width: 450px;
  }
  .new-task-name {
    color: rgba(255,255,255,0.6);
    font-size: 30px;
    display: inline-block;
    padding: 0;
    font-weight: 100;
    outline: none;
    width: 440px;
    max-width: 440px;
    background: 0;
    margin-top: 3px;
    border: none;
    font-family: 'open_sans';
    &::-webkit-input-placeholder {
      color: rgba(255,255,255,0.6);
    }
    &:-moz-placeholder {
      color: rgba(255,255,255,0.6);
      opacity: 1;
    }
    &::-moz-placeholder {
      color: rgba(255,255,255,0.6);
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: rgba(255,255,255,0.6);
    }
    &.error {
      &::-webkit-input-placeholder {
        color: #DE0000;
      }
      &:-moz-placeholder {
        color: #DE0000;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #DE0000;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #DE0000;
      }
    }
  }
}
.select-category {
  h4 {
    color: rgba(255,255,255,0.6);
    font-size: 24px;
    display: inline;
    padding: 0;
    margin: 0;
    font-weight: 100;
    &.error {
      color: #DE0000;
    }
  }
}
.task-block button {
  float: right;
}

/*** Task block ***/
.task-block {
  color: white;
  display: inline-block;
  padding: 15px 15px 15px 60px;
  .row {
    font-size: 0;
    span {
      &.separator {
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        font-weight: 100;
        padding: 0 5px;
      }
      font-size: 12px;
      color: rgba(255,255,255,0.6);
      i {
        padding-right: 10px;
        font-size: 20px;
      }
    }
    button {
      i {
        font-size: 20px;
        color: rgba(255,255,255,0.6);
      }
    }
  }
  .task-text-button {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 46px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: white;
  }
}
/******************/

/*** New task block ***/
.add-new-task {
  background: rgba(65, 72, 90, 0.95);
  min-height: 40px;
  .options {
    float: right;
    button {
      background: transparent;
    }
  }
}
.new-task-option-button {
  font-size: 20px;
  position: relative;
  padding: 0 3px;
  &.new-date {
    &.active {
      i {
        color: white;
      }
    }
    .jq-calendar {
      position: absolute;
      font-size: 10px;
      z-index: 1;
      top: 32px;
      padding-top: 8px;
      right: 0;
      display: none;
    }
    &:hover {
      .jq-calendar {
        display: block;
      }
    }
  }
  &:hover {
    i {
      color: white !important;
    }
  }
}
.task-options {
  .option {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
    &.active {
      background: #4F5668;
    }
    i {
      font-size: 20px;
      padding-right: 25px;
      vertical-align: sub;
    }
  }
}
.option-button.active {
  color: white;
}
.option-button {
  &:hover {
    color: white;
  }
  color: rgba(255,255,255,0.6);
  padding: 10px 10px 10px 15px;
  width: 100%;
  text-align: left;
}
/*********************/

/*** Select category block ***/
.select-category {
  background: rgba(82,89,108,0.95);
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #52596C;
    position: absolute;
    top: -10px;
    right: 55px;
  }
  .options {
    float: right;
    margin-right: -10px;
    button {
      padding: 0;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      border-radius: 22px;
      margin: 0 5px;
      &.active, &:hover {
        i {
          color: white;
        }
      }
      i {
        padding: 10px;
      }
    }
  }
}
/***************************/

/*** Task details block ***/
.overflowed-hidden {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}
/**************************/

/*** Done task ***/
.done {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  label i {
    display: block;
  }
}
/****************/

/**********************/
