html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  body {
    .wrapper {
      height: 750px;
      position: absolute;
      margin: 50px 0;
    }
    width: 750px;
    height: 100%;
    font-family: 'open_sans';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .padding-0 {
      padding: 0;
    }
    .margin-0 {
      margin: 0;
    }
    .pull-right {
      float: right;
    }
    .pull-left {
      float: left;
    }
    .clear:before,.clear:after {
      content: " ";
      display: table;
    }
    .clear:after {
      clear: both;
    }
    .row {
      width: 100%;
    }
    .cat-archive {
      background: #4E74DA;
    }
    .cat-home {
      background: #FE6D6A;
    }
    .cat-work {
      background: #FFC777;
    }
    .cat-pc {
      background: #CC94EF;
    }
    .cat-meetings {
      background: #2CE3BD
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
    .color-home {
      color: #FE6D6A !important;
    }
    .color-meetings {
      color: #2CE3BD !important;
    }
    .marker-block {
      background: #4A4F62;
      width: 35px;
      display: inline-block;
      height: 100%;
      position: absolute;
      input[type=checkbox] {
        display: none;
      }
      input[type=checkbox]:checked ~ i {
        display: block;
      }
      label {
        height: 17px;
        width: 17px;
        border: 2px solid rgba(255,255,255,0.3);
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        position: absolute;
        top: 45%;
        left: 21%;
        z-index: 1;
        cursor: pointer;
      }
      i {
        font-size: 21px;
        color: white;
        display: none;
        top: 44.5%;
        left: 26%;
        position: absolute;
        z-index: 0;
        cursor: pointer;
      }
    }
    .header {
      background: rgba(255,255,255,0.3);
      padding: 7px;
      position: relative;
      .row {
        &:first-of-type {
          button {
            height: 12px;
            width: 12px;
            background: rgba(255,255,255,0.3);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            vertical-align: top;
          }
        }
        &:nth-of-type(2) {
          h4 {
            color: white;
            text-align: center;
          }
          .controls {
            margin-top: -20px;
            i {
              color: rgba(255,255,255,0.6);
              padding: 0 5px;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
      }
      .add-task {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: -152px;
        left: 0;
        .row {
          .options {
            button {
              width: auto;
              height: auto;
              i {
                color: rgba(255,255,255,0.6);
                font-size: 20px;
                padding-top: 12px;
              }
            }
          }
          padding: 20px;
          width: auto;
          position: relative;
          &.dark {
            background: rgb(74, 79, 98);
            .options {
              button {
                background: transparent;
              }
            }
          }
          &.light {
            background: rgb(82,89,108);
            &:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #52596C;
              position: absolute;
              top: -10px;
              right: 25px;
            }
            .options {
              margin-right: -10px;
              button {
                padding: 0;
                -webkit-border-radius: 22px;
                -moz-border-radius: 22px;
                border-radius: 22px;
                margin: 0 5px;
                i {
                  padding: 10px;
                }
              }
            }
          }
          h3 {
            color: rgba(255,255,255,0.6);
            font-size: 30px;
            display: inline;
            padding: 0;
            margin: 0;
          }
          h4 {
            color: rgba(255,255,255,0.6);
            font-size: 24px;
            display: inline;
            padding: 0;
            margin: 0;
          }
        }
      }
      .search {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: -66px;
        left: 0;
        .row {
          padding: 20px;
          width: auto;
          position: relative;
          background: rgb(74, 79, 98);
          i {
            color: rgba(255,255,255,0.6);
            font-size: 24px;
          }
          input {
            background: none;
            outline: none;
            border: none;
            color: white;
            margin-left: 10px;
            font-size: 20px;
            font-family: 'open_sans';
          }
          label {
            cursor: pointer;
          }
        }
      }
    }
    .main-part {
      height: 689px;
      overflow: hidden;
      position: relative;
      .nav-cats {
        width: 75px;
        background: rgba(82,89,108,0.5);
        height: 100%;
        button {
          text-align: center;
          width: 75px;
          height: 75px;
          position: relative;
          &.active, &:hover {
            background: #52596C;
            &:after {
              content: '';
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right:10px solid #4A4F62;
              position: absolute;
              right: 0;
              top: 37%;
            }
          }
          i {
            color: white;
            font-size: 40px;
          }
          &.settings {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      .task {
        background: #52596C;
        margin-left: 75px;
        font-size: 0;
        position: relative;
        .task-block {
          color: white;
          display: inline-block;
          padding: 25px 25px 25px 60px;
          .row {
            font-size: 0;
            span {
              color: rgba(255,255,255,0.6);
              font-size: 20px;
            }
            button {
              color: rgba(255,255,255,0.6);
              i {
                font-size: 20px;
              }
            }
          }
          p {
            margin: 20px 0 0 0;
            padding: 0;
          }
        }
        .color-block {
          width: 10px;
          display: inline-block;
          position: absolute;
          height: 100%;
          right: 0;
        }
        &.full-width {
          border-bottom: 2px solid rgba(255,255,255,0.1);
          .task-block {
            font-size: 36px;
            width: 580px;
          }
        }
      }
      .tasks {
        width: 332px;
        overflow: hidden;
        margin-top: -1px;
        &:last-of-type {
          width: 333px;
          .col {
            width: 350px;
          }
        }
        .col {
          overflow-y: scroll;
          height: 496px;
          width: 349px;
        }
        .half-width {
          &.task {
            margin-left: 0;
            border-top: 1px solid rgba(255,255,255,0.1);
            margin-top: -1px;
            &.finished {
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
              filter: alpha(opacity=50);
              -moz-opacity: 0.5;
              -khtml-opacity: 0.5;
              opacity: 0.5;
            }
          }
          .task-block {
            font-size: 24px;
            padding: 15px 15px 15px 60px;
            .date {
              font-size: 12px;
              color: rgba(255,255,255,0.6);
            }
          }
        }
      }
      .task-details {
        height: 690px;
        width: 390px;
        background: #52596c;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        .fav {
          color: rgba(255,255,255,0.6);
          font-size: 20px;
          position: absolute;
          top: 35px;
          right: 10px;
          z-index: 1;
        }
        .task-category-line {
          width: 100%;
          height: 10px;
        }
        .details-header {
          border-bottom: 1px solid rgba(255,255,255,0.1);
          position: relative;
          .marker-block {
            background: none;
            width: 50px;
            label {
              left: 35%;
            }
            i {
              left: 38%;
            }
          }
          p {
            margin: 0;
            padding: 20px 55px;
            font-size: 28px;
            color: white;
          }
        }
        .task-options {
          .option {
            border-bottom: 1px solid rgba(255,255,255,0.1);
            padding: 10px;
            button {
              color: rgba(255,255,255,0.6);
            }
            i {
              font-size: 24px;
              padding-right: 15px;
              vertical-align: sub;
            }
          }
        }
      }
    }
  }
}


