@import "header";
@import "search";
@import "task";
@import "calendar";


html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  body {
    width: 605px;
    height: 100%;
    font-family: 'open_sans';
    margin: 0;
    padding: 0;
    .ui-datepicker-trigger {
      color: transparent;
      position: absolute;
      top: 35px;
      left: 4px;
      height: 0 !important;
    }
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-family: 'open_sans';
    }
    .button-search,.button-add-task {
      &.active {
        i {
          color: white;
        }
      }
    }
    .clear:before,.clear:after {
      content: " ";
      display: table;
    }
    .clear:after {
      clear: both;
    }
    .row {
      width: 100%;
    }
    .cat-archive {
      background: #4E74DA;
    }
    .cat-home {
      background: #FE6D6A;
    }
    .cat-work {
      background: #FFC777;
    }
    .cat-pc {
      background: #CC94EF;
    }
    .cat-meetings {
      background: #2CE3BD
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
    .color-home {
      color: #FE6D6A;
    }
    .color-meetings {
      color: #2CE3BD;
    }
    .overflowed-hidden {
      height: 500px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 70px;
      overflow: hidden;
    }
  }
}
.main-part {
  height: 500px;
  position: relative;
  overflow: hidden;
  .task {
    &.cat-archive {
      &:after {
        background: #4E74DA;
      }
    }
    &.cat-home {
      &:after {
        background: #FE6D6A;
      }
    }
    &.cat-work {
      &:after {
        background: #FFC777;
      }
    }
    &.cat-pc {
      &:after {
        background: #CC94EF;
      }
    }
    &.cat-meetings {
      &:after {
        background: #2CE3BD;
      }
    }
    background: #52596C;
    font-size: 0;
    position: relative;
    &:after {
      width: 10px;
      display: inline-block;
      position: absolute;
      height: 100%;
      right: 0;
      content: "";
    }
    &.full-width {
      border-bottom: 1px solid rgba(255,255,255,0.1);
      width: 267px;
      display: inline-block;
      &:first-of-type {
        width: 534px;
        .task-text-button {
          font-size: 36px;
          line-height: 42px;
        }
        .task-block {
          width: 450px;
        }
      }
      .task-text-button {
        font-size: 20px;
        width: 100%;
        line-height: 30px;
      }
      .task-block {
        font-size: 36px;
        width: 182px;
        .favourite {
          float: right;
          padding: 0
        }
        i {
          &.active {
            &:before {
              content: "\f005";
            }
          }
          &.unactive {
            &:before {
              content: "\f006";
            }
          }
        }
      }
    }
  }
  .tasks {
    width: 332px;

    margin-top: -1px;
    &:last-of-type {
      width: 333px;
      .col {
        width: 350px;
      }
    }
    .col {
      height: 496px;
      width: 349px;
    }
  }
  .task-details {
    height: 500px;
    width: 57%;
    background: rgba(65,72,90,0.95);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    .fav {
      color: rgba(255,255,255,0.6);
      font-size: 20px;
      position: absolute;
      top: 35px;
      right: 10px;
      z-index: 1;
    }
    &.cat-archive {
      &:before {
        background: #4E74DA;
      }
    }
    &.cat-home {
      &:before {
        background: #FE6D6A;
      }
    }
    &.cat-work {
      &:before {
        background: #FFC777;
      }
    }
    &.cat-pc {
      &:before {
        background: #CC94EF;
      }
    }
    &.cat-meetings {
      &:before {
        background: #2CE3BD;
      }
    }
    &:before {
      width: 100%;
      height: 10px;
      content: "";
      position: absolute;
    }
  }
}
.details-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: relative;
  .marker-block {
    background: none;
    width: 50px;
    label {
      left: 50%;
    }
    i {
      left: 38%;
    }
  }
  p {
    margin: 0;
    padding: 30px 55px 20px 55px;
    font-size: 26px;
    color: white;
  }
}
.marker-block {
  background: #4A4F62;
  width: 45px;
  display: inline-block;
  height: 100%;
  position: absolute;
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked + label i {
    display: block;
  }
  label {
    height: 17px;
    width: 17px;
    border: 2px solid rgba(255,255,255,0.3);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    margin-top: -10px;
    margin-left: -10px;
  }
  i {
    font-size: 22px;
    color: white;
    display: none;
    cursor: pointer;
    margin-top: -3px;
    margin-left: -1px;
  }
}
.nav-cats {
  width: 70px;
  background: rgba(82,89,108,0.5);
  height: 100%;
  float: left;
  button {
    text-align: center;
    width: 70px;
    height: 70px;
    position: relative;
    &:hover {
      background: #4A4F62;

    }
    &.active {
      background: #52596C;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid #4A4F62;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
      }
    }
    i {
      color: white;
      font-size: 26px;
    }
    &.settings {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.wrapper {
  height: 585px;
  width: 604px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -292px; /* Half the height */
  margin-left: -302px; /* Half the width */
}
.all-tasks {
  font-size: 0;
  background: #52596C;
  height: 500px;
  width: 551px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  align-content:flex-start;
}
.half-width {
  width: 50%;
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  &:after {
    content: "";
  }
  .task {
    margin-left: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: -1px;
  }
  .task-block {
    padding: 15px 15px 15px 60px;
    button {
      font-size: 24px;
      text-align: left;
      color: white;
      padding: 15px 0 0 0;
      &.favourite {
        position: absolute;
        right: 20px;
        top: 7px;
        padding: 0
      }
      i {
        &.active {
          &:before {
            content: "\f005";
          }
        }
        &.unactive {
          &:before {
            content: "\f006";
          }
        }
      }
    }
    .date {
      font-size: 12px;
      font-weight: bold;
      color: rgba(255,255,255,0.6);
    }
  }
}
